.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.title {
  text-align: center;
  color: #f7f7f7;
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 2rem;
}

.dashboard-container {
  width: 420px;
}

.dashboard {
  background: #29324c;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.balance {
  padding-bottom: 2rem;
  border-radius: 6px;
}

.label {
  color: #a6acba;
  tab-size: 4;
  font-size: 0.875rem;
}

.value {
  float: right;
  color: #f7f7f7;
  font-size: 1.1rem;
}

.transfer-form {
  width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #a6acba;
  tab-size: 4;
  font-size: 0.875rem;
}

.input-field {
  width: 90%;
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 1rem;
}

.wallet-address {
  padding: 0.75rem;
  background: #0e1721;
  border-radius: 4px;
  word-break: break-all;
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.fund-button,
.invoke-button,
.connect-button,
.send-button {
  background: #666cff;
  color: #f7f7f7;
}

.fund-button:hover,
.invoke-button:hover,
.connect-button:hover,
.send-button:hover {
  background: #4248fe;
}

.send-button:disabled {
  background: #cbd5e0;
  cursor: not-allowed;
}

.select-field {
  width: 97%;
  padding: 0.75rem;
  padding-right: 2rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

.main-container {
  display: flex;
}

.tabs {
  width: 250px;
  height: 550px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  height: 550px;
  padding: 20px;
  background-color: #1e1e1e;
}

.tab-button {
  padding: 0.75rem;
  background: #29324c;
  border: none;
  border-radius: 4px;
  color: #a6acba;
  cursor: pointer;
  transition: all 0.2s;
}

.tab-button.active {
  background: #666cff;
  color: white;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.github-logo {
  height: 1.5rem;
}

.agoric-logo {
  height: 8.5em;
  padding: 1rem;
  will-change: filter;
  transition: filter 300ms;
}

.agoric-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.agoric-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.agoric-logo.agoric:hover {
  filter: drop-shadow(0 0 2em #fa4a49aa);
}

.view-source {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: #242424;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.view-source:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

.view-source a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.github-logo {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
